* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(soft_circle_scales.png);
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    background-color: #FFFFFF;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #533535;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #533535;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 30px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #533535;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #533535;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #C37B89;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #009DAE;
    text-decoration: none;
}

a.tbl-pink {
    background: #C37B89;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #009DAE;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 70%;
}

.kartu-tutor p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #533535;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: seagreen;
    padding: 50px 0px 50px 0;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0 50px 0;
    margin-top: 50px;
}